/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}
/*1px  = 0.0625rem
10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
30px = 1.875rem
32px = 2rem*/

/*.bodyCont {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	max-width: 1350;
}*/

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: url(img/foodImg.jpg);
     background-position-x: center;
     background-position-y: 10%;
     text-align: center;
}


/******************************************
/* LAYOUT
/*******************************************/
h1{
  color: rgb(235, 168, 166);
  text-align: center;
  font-size: 6em;
  font-family: 'Righteous', cursive, 'Times New Roman', Times, serif;
}
input{
  width: 15em;
  text-align: center;
}
button{
  width: 7em;
}
input,button{
  align-items: center;
  background:rgb(235, 168, 166);
  border: none;
  border-radius: 2em;
  height: 3em;
  font-size: 15px;
}
h2{
  color: rgb(140, 181, 56);
}
h3,h4{
  color: rgb(140, 181, 56);
  font-size: 20px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/